<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>To-Do App</title>
  </head>

  <body>
    <div id="app">
      <h1>To Do App</h1>
      <h3>A VueJS app built for Software Saturdays Spring 2021.</h3>
      <h3>For more information, visit our <a href="https://purdueieee.org/software">website</a>.</h3>
      <hr />
      <h3>Current To-Do List</h3>
      <todo-list v-on:add='new_todo'>
        <todo-item v-for="item in todolist" v-bind:key="item.id" v-bind:todo="item" v-on:delete='handle_delete' v-on:edit='handle_edit' v-on:done="handle_done"></todo-item>
      </todo-list>
      <hr />
      <h3>Finished To-Do List</h3>
      <todo-finished v-for="item in finished_todo" v-bind:key="item.id" v-bind:todo="item"></todo-finished>
    </div>
  </body>

  <script src="main.js"></script>
</html>